[core]
	excludesfile = /Users/ishiishou/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sho Ishii
	email = sho.i@latona.io
[credential]
	helper = osxkeychain
[alias]
	c = commit -v
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
