*.swp
.vim/bundle
.hyper_plugins/cache
.hyper_plugins/local
.hyper_plugins/node_modules

.claude/settings.local.json
.gitconfig.local
terminal-repo.local
scripts/setup-manifest.local.yml

# Fish shell
configs/fish/fish_variables


# Claude output
.outputs/claude/

# Git worktree
.worktree/

configs/claude/scripts/__pycache__/
