[user]
# Please adapt and uncomment the following lines:
name = Sho Ishii
email = ishii1492@gmail.com
        signingkey = /Users/sho/.ssh/asgard.pub

[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
[ghq]
  root = ~/src
[core]
  excludesFile = /Users/sho/.gitignore_global
[commit]
   gpgsign = true
[gpg]
   format = ssh
[alias]
  push-f = push --force-with-lease
        c = commit -s
  amend = commit --amend -a
