# scripts/setup-manifest.local.yml
# 環境依存の設定をここに記述する（gitignore 済み）
components:
  git:
    setup_args:
      user_name: "Your Name"
      user_email: "your_email@example.com"
      ghq_root: ~/src
      auth_key: ~/.ssh/id_ed25519_github
      sign_key: ~/.ssh/id_ed25519_github_sign
